services:
  monero-rpc:
    build:
      context: ./monero-rpc
      dockerfile: Dockerfile
    restart: unless-stopped
    networks:
      - net
    volumes:
      - type: bind
        source: ./srv/monero-rpc
        target: /home/monero/wallet
        is_directory: true
    environment:
      MONERO_DAEMON_ADDRESS:
    command:
      - --wallet-dir=/home/monero/wallet
      - --daemon-address=${MONERO_DAEMON_ADDRESS}
      - --rpc-bind-ip=0.0.0.0
      - --rpc-bind-port=18083
      - --confirm-external-bind
      - --disable-rpc-login

  db: 
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./api/db/schema.sql:/docker-entrypoint-initdb.d/init.sql:Z
      - db_data:/var/lib/postgresql/data

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - monero-rpc
      - db
    networks:
      - net
    ports:
      - "127.0.0.1:3002:3002"

networks:
  net:
    driver: bridge

volumes:
  db_data: