openapi: 3.0.0
info:
  title: Wallet API
  version: 1.0.0
servers:
  - url: http://192.168.1.38:3002

components:
  parameters:
    crypto:
      name: crypto
      in: path
      required: true
      description: Type of cryptocurrency
      schema:
        type: string
        enum: ["XMR", "BTC", "LTC"]
  securitySchemes:
    Auth:
      type: apiKey
      in: header
      name: Authorization
      description: API key authorization
  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: Something went wrong 
        error:
          type: string
          example: ERROR_CODE

paths:
  /account/new:
    parameters:
      - $ref: "#/components/parameters/crypto"
    post:
      summary: Create a new account
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  mnemonic:
                    type: string
                    example: "dog cat enough hat car wise bar fire ankle hint hospital enlist place family often sister pig water side gap want repair payment gun" 
                  entropy:
                    type: string
                    example: dFqpk+xVc/jBa14JPyW3pWazSZuTKse+x+vr29tKGs=
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /account/entropy-from-mnemonic:
    parameters:
      - $ref: "#/components/parameters/crypto"
    post:
      summary: Get account token from mnemonic 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mnemonic:
                  type: string
                  example: "dog cat enough hat car wise bar fire ankle hint hospital enlist place family often sister pig water side gap want repair payment gun" 
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  entropy:
                    type: string
                    example: dFqpk+xVc/jBa14JPyW3pWazSZuTKse+x+vr29tKGs=
        400:
          description: Bad request 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /wallet/{crypto}/balance:
    parameters:
      - $ref: "#/components/parameters/crypto"
    get:
      summary: Get wallet balance
      security:
        - Auth: []
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  confirmed:
                    type: number
                    example: 0.1
                  unconfirmed:
                    type: number
                    example: 0.01
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /wallet/{crypto}/addresses:
    parameters:
      - $ref: "#/components/parameters/crypto"
    get:
      summary: Get generated addresses
      security:
        - Auth: []
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: string
                    example: address

  /wallet/{crypto}/address:
    parameters:
      - $ref: "#/components/parameters/crypto"
    post:
      summary: Generate a new address
      security:
        - Auth: []
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                    example: address
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /wallet/{crypto}/transactions:
    parameters:
      - $ref: "#/components/parameters/crypto"
    get:
      summary: Get transactions
      security:
        - Auth: []
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  in:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                          example: address
                        amount:
                          type: number
                          example: 0.02
                        fee:
                          type: number
                          example: 0.00001
                        confirmations:
                          type: integer
                          example: 832
                        timestamp:
                          type: string 
                          example: 2025-01-27T14:50:08Z
                  out:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                          example: address
                        amount:
                          type: number
                          example: 0.02
                        fee:
                          type: number
                          example: 0.00001
                        confirmations:
                          type: integer
                          example: 470
                        timestamp:
                          type: string 
                          example: 2025-01-27T14:50:08Z
                  pending:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                          example: address
                        amount:
                          type: number
                          example: 0.02
                        fee:
                          type: number
                          example: 0.00001
                        confirmations:
                          type: integer
                          example: 0
                        timestamp:
                          type: string 
                          example: 2025-01-27T14:50:08Z

        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /wallet/{crypto}/transaction:
    parameters:
      - $ref: "#/components/parameters/crypto"
    post:
      summary: Create a new transaction
      security:
        - Auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  example: address
                amount:
                  type: number
                  example: 0.01
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"